VITE_API_BASE_URL=http://localhost:8000
VITE_USE_MOCK_API=true
VITE_AVATAR_MODEL_URL=/models/mari.vrm
VITE_AVATAR_MODEL_NAME=Mari 3D VRoid Model
VITE_AVATAR_CREATOR_NAME=wondrous21
VITE_AVATAR_LICENSE=Free to use with credit
